.v-application{
    font-family: 'Dongle', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.font-dongle {
    font-family: 'Dongle', sans-serif;
}

.font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}