// Used in Login and Signup form
.auth-form-wrapper {
    max-width: 400px;
    margin: auto;
    border: 1px solid #ddd;
    margin-top: 75px;
}

@media screen and(max-width: 600px) {
    .auth-form-wrapper {
        margin-top: 30px;
        border: none;
    }
}

// Used in WhatWeOffer and Featured Blogs
.background-wrapper {
    position: relative;
    .background-color-left {
      position: absolute;
      background: $primary;
      top: 0;
      bottom: 0;
      width: 300px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .background-color-right {
        position: absolute;
        background: $primary;
        top: 0;
        bottom: 0;
        right: 0;
        width: 300px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
  }

  .scale-on-hover {
    &:hover {
      transition: 500ms ease-in-out;
      transform: scale(1.04);
    }
  }